
*{
  margin: 0;
  padding: 0;
}

#root{  
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #777;
  background-image: url(./images/main-bg.jpg);
  background-size: cover;
}
#drum-machine{
  box-shadow: 0 0 4px 0;
  border-radius: 3px; 
}
#display{
  font-family: Courier, 'Courier New';
  font-weight: 600;
  display: grid;
  padding: 20px;
  width: calc(80px*3);
  height: calc(80px/4);  
  background-color: #efefef;
  border-radius:  3px 3px 0 0  ;  
}
#pads{
  display: inline-grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3,80px);
  background-color: #3838385c;
  padding: 20px;
  border-radius: 0 0 3px 3px;   
}

.drum-pad{
  background-color: #e5e3e3;  
  border-radius:  15%;
  color: #757575;
  font-size: 1.5em;
  margin: 3px;
  box-shadow: 1px 2px 0 rgba(0,0,0,.3);
  transition: all .3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drum-pad:active {
  border: none;
  color: #666;
  background-color: #eae8e8;
  transition: all .3s;
}

.drum-pad:focus {outline:0;}
#credits{
	  padding: 5px 10px;
    background-color: #cecece;
    font-family: Courier;

}